data/KDDCU2D.txt filter=lfs diff=lfs merge=lfs -text
data/metro_areas.txt filter=lfs diff=lfs merge=lfs -text
data/mopsi.txt filter=lfs diff=lfs merge=lfs -text
data/europe.txt filter=lfs diff=lfs merge=lfs -text
data/hail-2015.txt filter=lfs diff=lfs merge=lfs -text
data/meteorite_landings.txt filter=lfs diff=lfs merge=lfs -text
data/sample.txt filter=lfs diff=lfs merge=lfs -text
data/birch3.txt filter=lfs diff=lfs merge=lfs -text
data/china.txt filter=lfs diff=lfs merge=lfs -text
data/locations.txt filter=lfs diff=lfs merge=lfs -text
data/nyc_taxis_dropoff.txt filter=lfs diff=lfs merge=lfs -text
data/nyc_taxis_pickup_and_dropoff.txt filter=lfs diff=lfs merge=lfs -text
data/places.txt filter=lfs diff=lfs merge=lfs -text
data/uber.txt filter=lfs diff=lfs merge=lfs -text
data/usa.txt filter=lfs diff=lfs merge=lfs -text
data/world.txt filter=lfs diff=lfs merge=lfs -text
data/nyc_taxis_pickup.txt filter=lfs diff=lfs merge=lfs -text
data/us_wildfires.txt filter=lfs diff=lfs merge=lfs -text
